

/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #c4cfdb;
}

.profile {
  text-align: center;
  color: #fff;
}

.profile h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.welcome {
  font-size: 18px;
  margin-top: 10px;
}

.useremail {
  font-size: 14px;
  margin-top: 5px;
}

/* Main Content Styles */
.content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

.mainheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
}

.transaction {
  display: flex;
  align-items: center;
}

.inputdescription {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.type {
  display: flex;
  align-items: center;
}

.buttonAtualizar,
.buttonreceita,
.buttondespesa {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  transition: background-color 0.3s;
}

.buttonAtualizar {
  background-color: #003366;
}

.buttonreceita {
  background-color: #4caf50;
}

.buttondespesa {
  background-color: #f44336;
}

.buttonAtualizar:hover,
.buttonreceita:hover,
.buttondespesa:hover {
  opacity: 0.8;
}

/* Card Styles */
.cardSaldo,
.cardReceitas,
.cardDespesas {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-right: 10px;
  flex: 1;
}

.cardTitle {
  font-size: 18px;
  margin-bottom: 5px;
}

.cardValue {
  font-size: 24px;
  font-weight: bold;
}

/* Registros Styles */
.registros {
  display: flex;
  margin-top: 20px;
}

.registrosreceitas,
.registrosdespesas {
  flex: 1;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-right: 10px;
}

.registrosreceitastitle,
.registrosdespesastitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.registrosreceitaslist,
.registrosdespesaslist {
  display: flex;
  flex-wrap: wrap;
}

.registrosreceitasitem,
.registrosdespesasitem {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  flex-basis: calc(33.33% - 10px);
  position: relative;
}

.registrosreceitasitemdescription,
.registrosdespesasitemdescription {
  font-size: 16px;
  font-weight: bold;
}

.registrosreceitasitemvalue,
.registrosdespesasitemvalue {
  font-size: 16px;
  margin-top: 5px;
}

.actions {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.actionsbutton {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  margin-right: 5px;
}

.actionsbutton:nth-child(2) {
  background-color: #003366;
}

.actionsbutton:nth-child(3) {
  background-color: #f44336;
}

/* Central Bank Styling */
.content {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

.title {
  font-size: 24px;
  color: #003366;
}

.cardSaldo,
.cardReceitas,
.cardDespesas {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-right: 10px;
  flex: 1;
  color: #003366;
}

.buttonAtualizar,
.buttonreceita,
.buttondespesa {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  transition: background-color 0.3s;
}

.buttonAtualizar {
  background-color: #003366;
  color: #fff;
}

.buttonreceita {
  background-color: #4caf50;
  color: #fff;
}

.buttondespesa {
  background-color: #f44336;
  color: #fff;
}

.registrosreceitasitem,
.registrosdespesasitem {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  flex-basis: calc(33.33% - 10px);
  position: relative;
  color: #003366;
}

.actionsbutton:nth-child(2) {
  background-color: #003366;
  color: #fff;
}

.actionsbutton:nth-child(3) {
  background-color: #f44336;
  color: #fff;
}
